In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [3]:
df = pd.read_excel(r"D:\Study\Project\Major project\Quadrant Analysis\Automobile\four_quadrant_influencers.xlsx", sheet_name='HF-HE')

In [4]:
df.head()

,Followers,Engagement,Influencers,Urls,Img-url,Captions
0,97885,0.467518,hkmatthews50,https://www.instagram.com/p/CqLoEGFv-yo/,https://www.instagram.com/p/CqLoEGFv-yo/media/...,Stormed into the Final and HOW! üî•\n\nReady wit...
1,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cpk6qDQSW6B/,https://www.instagram.com/p/Cpk6qDQSW6B/media/...,A hat-trick of ùêñùêàùêçùêí!! üí™üíô\n\nVote for your Asho...
2,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cpx7QyfvGNU/,https://www.instagram.com/p/Cpx7QyfvGNU/media/...,5Ô∏è‚É£ in a row ‚úÖ\nPlayoffs Qualification ‚úÖ\n\nIt...
3,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cp7vUGhP3Kj/,https://www.instagram.com/p/Cp7vUGhP3Kj/media/...,Our first loss but some üëè worthy performances....
4,96646,0.604077,dhillon_balbir,https://www.instagram.com/p/C3FpBJFPfU2/,https://www.instagram.com/p/C3FpBJFPfU2/media/...,TEASER!! Drifting the #Audi #RS4 during my #Ic...

In [5]:
main_df = pd.read_json(r"D:\Study\Project\Minor Project\Categories\Main_dataframe_automobile.json")

In [6]:
main_df.head()

,postUrl,comment_timestamp,likesCount,post_timestamp,mentions,commentsCount,hashtags
0,https://www.instagram.com/p/CsA0gBIArgQ/,2023-05-09T07:29:12.000,742,2023-05-09T06:45:54.000Z,"[mahindraxuv400, mahindraxuv700, royalchalleng...",4,"[repost, MahindraAuto, XUV700, XUV400, MI, RCB..."
1,https://www.instagram.com/p/CsA0gBIArgQ/,2023-05-09T07:29:51.000,742,2023-05-09T06:45:54.000Z,"[mahindraxuv400, mahindraxuv700, royalchalleng...",4,"[repost, MahindraAuto, XUV700, XUV400, MI, RCB..."
2,https://www.instagram.com/p/CsA0gBIArgQ/,2023-05-09T07:30:33.000,742,2023-05-09T06:45:54.000Z,"[mahindraxuv400, mahindraxuv700, royalchalleng...",4,"[repost, MahindraAuto, XUV700, XUV400, MI, RCB..."
3,https://www.instagram.com/p/CsA0gBIArgQ/,2023-05-10T04:24:49.000,742,2023-05-09T06:45:54.000Z,"[mahindraxuv400, mahindraxuv700, royalchalleng...",4,"[repost, MahindraAuto, XUV700, XUV400, MI, RCB..."
4,https://www.instagram.com/p/CsA0gBIArgQ/,2023-05-10T08:22:50.000,742,2023-05-09T06:45:54.000Z,"[mahindraxuv400, mahindraxuv700, royalchalleng...",4,"[repost, MahindraAuto, XUV700, XUV400, MI, RCB..."

In [7]:
df['Hashtags'] = ''

for index, row in df.iterrows():
    if row['Urls'] in main_df['postUrl'].values:
        hashtags = main_df.loc[main_df['postUrl'] == row['Urls'], 'hashtags'].values[0]
        df.at[index, 'Hashtags'] = hashtags

In [8]:
df.head()

,Followers,Engagement,Influencers,Urls,Img-url,Captions,Hashtags
0,97885,0.467518,hkmatthews50,https://www.instagram.com/p/CqLoEGFv-yo/,https://www.instagram.com/p/CqLoEGFv-yo/media/...,Stormed into the Final and HOW! üî•\n\nReady wit...,"[OneFamily, MumbaiIndians, AaliRe, WPL2023, Wo..."
1,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cpk6qDQSW6B/,https://www.instagram.com/p/Cpk6qDQSW6B/media/...,A hat-trick of ùêñùêàùêçùêí!! üí™üíô\n\nVote for your Asho...,"[OneFamily, MumbaiIndians, AaliRe, WPL2023, wo..."
2,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cpx7QyfvGNU/,https://www.instagram.com/p/Cpx7QyfvGNU/media/...,5Ô∏è‚É£ in a row ‚úÖ\nPlayoffs Qualification ‚úÖ\n\nIt...,"[OneFamily, MumbaiIndians, AaliRe, WPL2023, wo..."
3,97885,0.467518,hkmatthews50,https://www.instagram.com/p/Cp7vUGhP3Kj/,https://www.instagram.com/p/Cp7vUGhP3Kj/media/...,Our first loss but some üëè worthy performances....,"[OneFamily, MumbaiIndians, AaliRe, WPL2023, Wo..."
4,96646,0.604077,dhillon_balbir,https://www.instagram.com/p/C3FpBJFPfU2/,https://www.instagram.com/p/C3FpBJFPfU2/media/...,TEASER!! Drifting the #Audi #RS4 during my #Ic...,"[Audi, RS4, Ice, Lapland, Finland., reel, reel..."

In [9]:
df.to_excel('HF-HE_hashtags.xlsx', index = False)

In [8]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

categories = [
    # 'Automobile',
    # 'Beverages',
    # 'Clothing',
    # 'Electronics',
    # 'Entertainment',
    # 'Food',
    # 'Jewellery',
    # 'Makeup',
    'Non-profit',
    'Shoes'
]

quadrant = [
    'HF-HE',
    'HF-LE',
    'LF-HE',
    'LF-LE'
]

for category in categories:
    for quad in quadrant:
        df = pd.read_excel(f"D://Study//Project//Major project//Quadrant Analysis//{category}//four_quadrant_influencers.xlsx", sheet_name = quad)
        main_df = pd.read_json(rf"D://Study//Project//Minor Project//Categories//Main_dataframe_{category}.json")
        df['Hashtags'] = ''

        for index, row in df.iterrows():
            if row['Urls'] in main_df['postUrl'].values:
                hashtags = main_df.loc[main_df['postUrl'] == row['Urls'], 'hashtags'].values[0]
                df.at[index, 'Hashtags'] = hashtags
        
        if 'Post_map' not in df.columns:
            df['Post_map'] = ''
        
        num_rows = len(df)
        filenames = [f"{i}.jpg" for i in range(num_rows)]
        df['Post_map'] = filenames
        df.to_excel(f'D:\Study\Project\Major project\Hashtag analysis\{category}\{quad}_hashtag\{quad}_hashtags.xlsx', index=False)

In [12]:
quadrant = [
    'HF-HE',
    # 'HF-LE',
    # 'LF-HE',
    # 'LF-LE'
]

for quad in quadrant:
    path = f'D:\Study\Project\Major project\Hashtag analysis\{quad}_hashtags.xlsx'
    df = pd.read_excel(path)
    
    if 'Post_map' not in df.columns:
        df['Post_map'] = ''
        
    num_rows = len(df)

    # Generate the list of filenames
    filenames = [f"{i}.jpg" for i in range(num_rows)]

    # Insert the filenames into the "Post_map" column
    df['Post_map'] = filenames
        
    df.to_excel(f'{quad}_hashtags.xlsx', index=False)

In [2]:
import pandas as pd
df = pd.read_excel(r'D:\Study\Project\Major project\Bio analysis\inf_with_follower-post_ratio.xlsx')

C:\Users\nishi\AppData\Local\Temp\ipykernel_14064\3634327473.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df.head()

     Category Quadrant       Influencers  follower/post
0  Automobile    HF-HE      hkmatthews50     513.389163
1  Automobile    HF-HE    dhillon_balbir     289.921450
2  Automobile    HF-HE           wongi95     470.084677
3  Automobile    HF-HE            aneezv      72.861063
4  Automobile    HF-HE  __vastrakarp11__     839.731481

In [8]:
path = "D:\Study\Project\Major project\Bio analysis\inf_with_follower-post_ratio.xlsx"
df = pd.read_excel(path)

if 'Post_map' not in df.columns:
    df['Post_map'] = ''
    
num_rows = len(df)

# Generate the list of filenames
filenames = [f"{row['Influencers']}.jpg" for _, row in df.iterrows()]

# Insert the filenames into the "Post_map" column
df['Post_map'] = filenames
    
df.to_excel(f'inf_with_bioimageanalysis_follower-post_ratio.xlsx', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\nishi\AppData\Local\Temp\ipykernel_14064\4063216733.py:1: SyntaxWarning: invalid escape sequence '\S'
  path = "D:\Study\Project\Major project\Bio analysis\inf_with_follower-post_ratio.xlsx"

In [10]:
df.head()

     Category Quadrant       Influencers  follower/post              Post_map
0  Automobile    HF-HE      hkmatthews50     513.389163      hkmatthews50.jpg
1  Automobile    HF-HE    dhillon_balbir     289.921450    dhillon_balbir.jpg
2  Automobile    HF-HE           wongi95     470.084677           wongi95.jpg
3  Automobile    HF-HE            aneezv      72.861063            aneezv.jpg
4  Automobile    HF-HE  __vastrakarp11__     839.731481  __vastrakarp11__.jpg

In [14]:
new_df = pd.read_excel(r"D:\Study\Project\Major project\Bio analysis\detected_objects.xlsx")

In [15]:
df = pd.merge(df, new_df, on='Post_map', how='left')

In [16]:
df.head()

,Category,Quadrant,Influencers,follower/post,Post_map,xmin,ymin,xmax,ymax,confidence,class,name
0,Automobile,HF-HE,hkmatthews50,513.389163,hkmatthews50.jpg,2.711471557617188,37.88329315185547,276.588623046875,260.92919921875,0.5096191167831421,0,person
1,Automobile,HF-HE,dhillon_balbir,289.921450,dhillon_balbir.jpg,"178.8727111816406,3.218292236328125,0.28150177...","162.2883605957031,12.63214111328125,113.949844...","319.8051452636719,212.1053924560547,86.7714309...","320.0,316.8980712890625,186.8987884521484,196....","0.7460576295852661,0.4523025453090668,0.323946...","56,0,56,60","chair,person,chair,dining table"
2,Automobile,HF-HE,wongi95,470.084677,wongi95.jpg,1.580535888671875,52.02218627929688,227.9518890380859,317.348388671875,0.8173808455467224,0,person
3,Automobile,HF-HE,aneezv,72.861063,aneezv.jpg,21.55352783203125,13.95425415039062,317.8329162597656,313.3146057128906,0.6058734059333801,0,person
4,Automobile,HF-HE,__vastrakarp11__,839.731481,__vastrakarp11__.jpg,23.03511047363281,13.26939392089844,309.0209350585938,316.7335205078125,0.8368072509765625,0,person

In [17]:
df.to_excel('all_analysis_data_bio.xlsx', index=False)